* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0px; 
    padding: 30px;
    background: linear-gradient(90deg, #f7f7f7 0%, rgb(222, 220, 220) 100%);
    font-family: monospace;
  }

  /************************************************PAGE DE LOGIN*****************************************************************/
  
 .login-container{
   position: relative;
   width: 850px;
   height: 550px;
   background:white;
   border-radius: 20px ;
   box-shadow: 0 10px 20px 0 rgba(0,0,0,0.3);
   /*overflow: hidden;*/
  }

  .login-container h2{
    justify-content: center;
    display:flex;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
    color:#aea9a9;
  }

  .login-container p{
    font-size: 15px;
    margin: 30px 0;
    color:#4b0000;
    display: flex;
    justify-content: center;
  }

  .login-box{
  position: absolute;
  right:0;
  width: 50%;
  height: 100%;
  background: white;
  border-radius: 50px 0px 0px 50px;
  display: flex;
  align-items: center;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color:white;
  z-index: 1;
  
  }

  form{
    width:100%;
  }

  .login-input{
    position: relative;
    margin: 30px 30px;
  }

  .login-input input{
    width: 100%;
    padding: 13px;
    background: white;
    border: 2px solid #ccc;
    border-radius: 10px;
    font-size: 15px;
    outline: none;
    color: grey;

  }

  .btn{
    padding: 10px 10px;
    background-color: #4b0000;
    border-radius: 30px;
    color: #D1C7BD;
    cursor: pointer;
    margin: 0px 50px;
    width:80%;
    font-size: 15px;
    box-shadow: none;
  }

  /****************************************PAGE D'INSCRIPTION*******************************************/

  .login-box.inscription{
    visibility: hidden;
  }

  .toggle-inscription{
    position: absolute;
    width: 100%;
    height: 100%;  
  }

  .toggle-inscription::before{
    position:absolute;
    content: '';
    width: 300%;
    height: 100%;
    background:#4b0000;
    z-index: 2;
    border-radius: 100px;
    left: -250%;
  }

  .toggle-position{
    position: absolute;
    width: 50%;
    height: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color:white;
    z-index: 2;
    font-family: Arial, Helvetica, sans-serif;
  }

  .toggle-position.gauche{
    position: absolute;
    width: 50%;
    height: 100%;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  .toggle-position.droite{
    right: -370px;
  }

  .toggle-position p{
    margin: 20px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
  }

  .btn-inscrire{
    width: 150px;
    height: 50px;
    background: transparent;
    border : 2px dotted white;
    color:white;
  }


  /*.bienvenue-inscription {
    align-self: flex-start;
    margin-bottom: 30px;
    margin-top: 200px;
    font-size: 4rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 8px;
    text-align: center;
  }


  .inscription-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 800px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .inscription-gauche {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-right: 20px;
    margin:auto;
    text-align: left;
  }
  
  .inscription-droite {
    display: flex;
    margin: 200px;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    align-items: center;
    text-align: left;
  }
  
  input {
    padding-right: 200px;
    padding-bottom: 10px;
    width: 50px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
  }*/
 