
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: monospace;
  color: black; 
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 1200px; 
  background-color: white;
}

/* Titres */
h1, h2, h3, h4{
  margin-left: 70px;
  margin-right: 70px;
  text-align: left;
  font-size: 3rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: black;
}


/* Entête */
header {
  position: sticky;
  top: 0;
  padding: 10px 16px;
  color: #f1f1f1;
  background: #EFEAF2;
  filter:alpha(opacity=50);
  -moz-opacity:0.5;
  -khtml-opacity: 0.5;
  opacity: 0.5;
}
.header-container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.logo img {
  max-height: 100px;
  margin-right: 30px;
}

/* Conteneur principal */
.body-container {
  width: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
}

main {
  padding: 20px;
}

/* Navigation gauche */
.nav-left ul {
  list-style-type: none;
  display: flex;
  gap: 30px;
  margin: 0;
  padding: 0;
}
.nav-left {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  filter: none;
}
.nav-left a {
  text-decoration: none;
  color: #4b0000; 
  font-size: 16px;
  transition: color 0.3s ease;
  margin: 10px;
}
.nav-left a:hover {
  color: #4b0000; 
  background-color: lightgray;
  border-radius: 10px;
  padding: 10px;
}

/* Navigation droite */
.nav-right ul {
  list-style-type: none;
  display: flex;
  gap: 30px;
  margin: 0;
  padding: 0;
}
.nav-right {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  filter: none;
  border-radius: 5px;
  padding: 5px;
}
.nav-right a {
  text-decoration: none;
  color: #4b0000; 
  font-size: 16px;
  transition: color 0.3s ease;
  margin: 10px;
}
.nav-right a:hover {
  color: #4b0000; 
  background-color: lightgray;
  border-radius: 5px;
  padding: 5px;
}

/* Formulaire */
form{
  width: 100%;
  border: 1px solid black;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0px 4px 8px rgba(0,0,0,0,1);
  text-align: left;
}

form ul {
  list-style-type: none;
  color: #4b0000;
}

.group {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

label {
  width: 200px;
  text-align: left; 
  margin-right: 10px;
  font-family: "Garamond", serif;
}

input, textarea {
  flex: 2;
  padding: 8px;
  border: 1px solid #D1C7BD;
  border-radius: 2px;
  margin: 5px;
}

#description {
  min-height: 100px;
}

/* Mise en page en colonnes */
.columns {
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 20px;
  text-align: left;
  align-items: start;
}

.column-left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px;
}

.column-right {
  display: flex;
  flex-direction: column;
  min-height: 250px;
  padding: 20px;
}

@media (max-width: 768px) {
  .columns {
      grid-template-columns: 1fr; /* Stack columns vertically */
  }
}

/* Boutons */
.button-container {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}

button {
  padding: 10px 10px;
  background-color: #4b0000;
  color: #D1C7BD;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px;
}
button:hover {
  background-color: #720000;
}

