/*main{
  display: flex;
  justify-content: center;
  align-items: top;
}
 
.main-container{
  position: relative;
  left: 150px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  width: 100vh; 

}

.candidature{
  display: flex;
  justify-content: space-evenly;
  margin: 100px;
  flex-direction: column;
  align-items: center;
  width: 200px;
  height: 200px;
  border: 2px solid #ccc;
  border-radius: 4500%;
  height: 20vh;
  cursor: pointer;
  overflow: hidden;
}


h3{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  margin-bottom: 10px;
  text-align: right;
}

.candidature:hover{
transition: 0.5 ease-in-out;
background: #4b0000;
color: grey;
}*/