main{
  display: flex;
  justify-content: center;
  align-items: top;
}
 
.main-container{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  width: 100vh; 

}

.candidature{
  display: flex;
  justify-content: space-evenly;
  margin: 8px;
  flex-direction: column;
  align-items: center;
  width: 500%;
  border: 2px solid #ccc;
  border-radius: 4500px;
  height: 20vh;
  cursor: pointer;
  overflow: hidden;
}


h3{
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  margin-bottom: 10px;
  text-align: right;
}

.candidature.acceptee:hover{
  display: flex;
  justify-content: center;
  background: radial-gradient(circle, rgb(249, 250, 249) 0%, rgb(157, 175, 158) 100%);
}

.candidature.refusee:hover{
  display: flex;
  justify-content: center;
  background: radial-gradient(circle, rgb(249, 250, 249) 0%, rgb(175, 157, 157) 100%);
}

.candidature.enAttente:hover{
  display: flex;
  justify-content: center;
  background: radial-gradient(circle, rgb(249, 250, 249) 0%, rgb(191, 197, 158) 100%);
}

.candidature:hover{
transition: 0.5 ease-in-out;
background: #4b0000;
color: grey;
}*/