@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&family=Poppins:wght@300;500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-y: scroll;
  }

html {
  background-image: url('../img/Background2.png');
}

body {
    display: flex;
    opacity: 0;
    animation: fadeInBody 1s ease-in forwards;
  }
  
  @keyframes fadeInBody {
    to {
      opacity: 1;
    }
  }

  h2{
    font-family: roboto;
  }

 

  .text-container p {
    text-align: justify;         
    max-width: 1000px;            
    margin: 0 auto;            
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;             
    line-height: 1.6;            
    word-spacing: 0.05em;       
    letter-spacing: 0.2px;      
    color: #333;
    padding: 50px;
  }
  
  .step-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin: 0 auto;
    padding:10px;
  }


@keyframes fadeInText {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.step {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: lcenter;
  font-family: 'Roboto', sans-serif;
  width: 200px;         
  height: 250px;        
  background: white;
  border-radius: 16px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  transition: transform 0.3s ease;
  text-align: center;
  margin: 100px 0;
  gap: 5px;
  
}
  
  .step-desc {
    font-size: 0.95rem;
    color: #444;
    font-family: roboto;
    text-align: center;
    max-width: 200px;
    height: 200px;
    padding: 30px;
    opacity: 0;
    transform: translateY(10px);
    animation: fadeInText 0.8s ease forwards;
    animation-delay: 0.3s;
    margin-top: 0px;
    color:#3f0404;
  }
  
  .step:hover {
    transform: scale(1.1);
    background-color: #dfe6e9;
    cursor: pointer;
  }
  .icon i {
    font-size: 36px;
    color: #6e6e6e;
    width: 30px;
    display: flex;
    justify-content: center;
    padding:80px;
    transition: transform 0.3s ease;
  }
  
  .step:hover .icon i {
    transform: scale(1.2);
    color: #3f0404;
  }
  
  .swipe-simulateur {
    text-align: center;
    padding: 50px 20px;
    background-color: #f1f2f6;
    border-radius: 10px;
    font-family: roboto;
  }
  
  .stage-card {
    display: inline-block;
    width: 280px;
    padding: 50px;
    background: white;
    border-radius: 16px;
    box-shadow: 0 6px 15px rgba(0,0,0,0.1);
    transition: transform 1s ease, opacity 1s ease;
    position: relative;
    margin:50px;

  }
  .swipe-left {
    transform: translateX(-300px) rotate(-10deg);
    opacity: 0;
  }
  .swipe-right {
    transform: translateX(300px) rotate(10deg);
    opacity: 0;
  }

  .footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.05);
    color: rgb(1, 1, 1);
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding: 5px 0;
    z-index: 1;
    margin-left: 0%;
  }
   
  .footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
   
  .footer-links {
    margin-top: 5px;
  }
   
  .footer-links a {
    color: rgb(11, 11, 11);
    text-decoration: none;
    margin: 0 15px;
    font-size: 0.9rem;
    transition: color 0.3s ease;
  }
   
  .footer-links a:hover {
    color: #4b0000;
  }
  
  
  
  