
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&family=Poppins:wght@300;500&display=swap');
*{
  margin: 0px;
  padding: 0px;
}

.container-img{
  width: 100%;
  min-height: 100vh;
  background-image: url(../img/business-contract.pnj.jpeg);
  background-position: center;
  background-size: cover;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.7); 
  background-blend-mode: darken;

  display: flex;
  justify-content: center;
  color: white;
  z-index: 1;
  flex-direction: column;
  align-items: center;
}

.nav-container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #4b0000;
  padding: 10px 20px;
  box-sizing: border-box;
}

.logo-nav {
  height: 80px;
  margin: 0;       
  padding: 0;      
}

.bar-nav {
  list-style: none;
  display: flex;
  gap: 30px;
  cursor: pointer;
  color: white;
  font-family: 'Poppins', sans-serif;
}



.container-text{
  margin-top: 20px;
  text-align: center; 
}

.sous-titre{
  color: white;
  display:flex;
  justify-content: center;
  font-size: 1.8rem;
  font-family: bebas neue;
}

.container-btn{ 
  display: flex;
  gap: 50px; 
  margin-top: 40px;
  justify-content: center; 
}

button{
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 50px;
  padding-right: 50px;
  width: 50vh;
  height: 10vh;
  font-size: 1.1rem;
  border: none;
  border-radius: 8px;
  background-color: #ffffffcc;
  color: #333;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

button:hover{
  transform: scale(1.1); 
}

.connect{
  color: white;
  display:flex;
  justify-content: center;
  font-size: 1.1rem;
  margin-top: 50px;

}

.connect-border{
  border: 1px dotted white;
  margin-top:10px;
  padding: 20px 20px;
  border-radius: 8px;
  pointer: cursor;
  transition: transform 0.2s ease-in-out;
}



.connect-border:hover{
  transform: scale(1.1);
}



h3{
  color: white;
  display:flex;
  justify-content: center;
  font-size: 1.5rem;
  margin-top: 10px;
  font-family: bebas neue;
}
