
/************************************************MISE EN PAGE *****************************************************************/


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0px; 
    padding: 30px;
    background: linear-gradient(90deg, #f7f7f7 0%, rgb(222, 220, 220) 100%);
    font-family: monospace;
  }

  .welcome-message {
    font-size: 24px;
    font-weight: bold;
    margin: 20px;
    color: #2b2b2b;
  }
  
  
   /* Liste de navigation dans la sidebar */
  .sidebar ul {
    list-style-type: none;
    margin-top: 5px;
    padding: 0;
  }
  
  /* Liens dans la sidebar */
  .sidebar li a {
    display: block;
    color: #fff;
    padding: 12px 20px;
    text-decoration: none;
    transition: background-color 0.2s ease;
    
  }
  
  /* Effet au survol */
  .sidebar li a:hover {
    background-color: #D1C7BD;
    color: #fff;
  }
  
  /* Bouton menu */
  .menu-button {
    position: fixed;
    top: 15px;
    left: 15px;
    font-size: 24px;
    background-color: transparent !important;
    border: 2px solid black; 
    border-radius: 8px; 
    color: black;
    padding: 4px 8px;
    cursor: pointer;
    z-index: 1001;
    transition: background-color 1s ease, color 1s ease, border-color 1s ease;
  }
  
  
  .sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color: #4b0000;
    overflow-x: hidden;
    transition: width 0.3s ease;
    padding-top: 60px;
    color: #ffffff;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.5);
  }
  
  /* Appliqué seulement quand la sidebar est ouverte */
  .sidebar.open {
    width: 250px;
    border-style: solid;
    border-color: #260000;
    border-width: 3px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  
  .close-btn {
    position: absolute;
    top: 15px;
    right: 15px;
    background-color: transparent !important;
    box-shadow: none !important;
    border: none;
    font-size: 28px;
    color: black;
    cursor: pointer;
  }
  
  body.sidebar-open .menu-button {
    display: none;
  }
  
  /************************************************PAGE DE LOGIN*****************************************************************/
  
 .login-container{
   position: relative;
   width: 850px;
   height: 550px;
   background:white;
   border-radius: 20px ;
   box-shadow: 0 10px 20px 0 rgba(0,0,0,0.3);
   overflow: hidden;
  }

  .login-container h2{
    justify-content: center;
    display:flex;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
    color:#aea9a9;
  }

  .login-container p{
    font-size: 15px;
    margin: 30px 0;
    color:#4b0000;
    display: flex;
    justify-content: center;
  }

  .login-box{
  position: absolute;
  right:0;
  width: 50%;
  height: 100%;
  background: white;
  border-radius: 50px 0px 0px 50px;
  display: flex;
  align-items: center;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color:white;
  z-index: 1;
  transition: 0.6s ease-in-out 1.2ms, visibility 0s 1ms;
  
  }

  form{
    width:100%;
  }

  .login-input{
    position: relative;
    margin: 30px 30px;
  }

  .login-input input{
    width: 100%;
    padding: 13px;
    background: white;
    border: 2px solid #ccc;
    border-radius: 10px;
    font-size: 15px;
    outline: none;
    color: grey;

  }

  .btn{
    padding: 10px 10px;
    background-color: #4b0000;
    border-radius: 30px;
    color: #D1C7BD;
    cursor: pointer;
    margin: 0px 50px;
    width:80%;
    font-size: 15px;
    box-shadow: none;
  }

  /****************************************PAGE D'INSCRIPTION*******************************************/

  .login-box.inscription{
    visibility: hidden;
  }

  .login-box.inscription h2{
    margin: 50px;
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .inscription-input{
    width: 350px;
    height: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 80px;
    margin-top: -50px;
    margin-bottom: 10px;
    margin-right: 50px;
    color:#4b0000;
  }

  label{
    display: flex;
    justify-content: left;
    text-align: left;
  }

  .inscription-input input{
    font-size: 15px;
    padding: 5px;
    justify-content: space-evenly;
    border-radius: 10px;
    font-size: 15px;
    outline: none;
    border: 2px solid #ccc;
    color: grey; 
  }

  .toggle-inscription{
    position: absolute;
    width: 100%;
    height: 100%; 
     
  }

  .toggle-inscription::before{
    position:absolute;
    content: '';
    width: 300%;
    height: 100%;
    background:#4b0000;
    z-index: 2;
    border-radius: 100px;
    left: -250%;
    transition: 0.5s ease-in-out;
  }

  .toggle-position{
    position: absolute;
    width: 50%;
    height: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color:white;
    z-index: 2;
    transition: 0.3ms ease-in-out;
  }

  .toggle-position.gauche{
    position: absolute;
    width: 50%;
    height: 100%;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    left: 0;

  }

  .toggle-position.droite{
    right: -370px;
    transition-delay: 0.6s;
  }

  .toggle-position p{
    margin: 20px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
  }

  .btn-inscrire{
    width: 150px;
    height: 50px;
    background: transparent;
    border : 2px dotted white;
    border-radius: 10px;
    color:white;
    cursor: pointer;
  }

  .btn-connecter{
    width: 150px;
    height: 50px;
    background: transparent;
    border : 2px dotted white;
    border-radius: 10px;
    color:white;
    cursor: pointer;
  }

  .btn-inscrire:hover{
    transition: fade 0.5s;
    background:#551919
  }


  .btn-connecter:hover{
    transition: fade 0.5s;
    background:#551919
  }
  /************************************************CSS EN LIEN AVEC LE JAVASCRIPT*****************************************************************/

  .login-container.active .toggle-inscription::before {
    left: 50%;
  }

  .login-container.active .toggle-position.gauche{
    left: -50%;
    transition-delay: 0.3s;
  }

  .login-container.active .toggle-position.droite{
    right: 0;
    transition-delay: 0.3s;
  }

  .login-container.active .login-box{
    right: 50%;
  }

  .login-container.active .login-box.inscription{
    visibility: visible;

  }
