@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&family=Poppins:wght@300;500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    opacity: 0;
    animation: fadeInBody 1s ease-in forwards;
  }
  
  @keyframes fadeInBody {
    to {
      opacity: 1;
    }
  }

  h2{
    font-family: roboto;
  }

  p{
    font-family: roboto;
    width: 80%;
  }
  


  .timeline {
    padding: 50px 20px;
    background: #f9f9f9;
    text-align: center;
    border-radius: 20px;
  }
  
  .timeline h3 {
    font-size: 28px;
    margin-bottom: 40px;
    color: #2d3436;
  }
  
  .timeline-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
  }
  
.step-container{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow-x: auto;
  gap: 40px;
  padding: 40px 20px;
  margin-bottom: 50px;
  
}
  .step {
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 160px;
    min-height: 160px;
    background: white;
    border-radius: 16px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    padding: 20px;
    transition: transform 0.3s ease;
    text-align: center;
 
  }
  
  .step:hover {
    transform: scale(1.1);
    background-color: #dfe6e9;
    cursor: pointer;
  }
  .icon i {
    font-size: 36px;
    color: #6e6e6e;
    transition: transform 0.3s ease;
  }
  
  .step:hover .icon i {
    transform: scale(1.2);
    color: #3f0404;
  }
  
  .swipe-simulateur {
    text-align: center;
    padding: 50px 20px;
    background-color: #f1f2f6;
    border-radius: 10px;
    font-family: roboto;
  }
  
  .stage-card {
    display: inline-block;
    width: 280px;
    padding: 25px;
    background: white;
    border-radius: 16px;
    box-shadow: 0 6px 15px rgba(0,0,0,0.1);
    transition: transform 1s ease, opacity 1s ease;
    position: relative;
  }
  .swipe-left {
    transform: translateX(-300px) rotate(-10deg);
    opacity: 0;
  }
  .swipe-right {
    transform: translateX(300px) rotate(10deg);
    opacity: 0;
  }
  
  
  
  